data/
cache/
docs/
markdown/
new-proj.env
data/
checkpoint.json
__pycache__/
*.pyc
.vscode/
.DS_Store
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
venv/
env/
.env
!.env.example
.DS_Store
node_modules/
checkpoint.json
